<!-- The AG Grid component -->
<!-- Add button using PrimeNG Button component -->
<p-table [value]="orders" [tableStyle]="{'min-width': '100rem'}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            orders
            <p-button>Enregistrer client</p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 20%;">ID</th>
            <th style="width: 20%;">customer_ID</th>
            <th style="width: 20%;">email</th>
            <th style="width: 20%;">Orders</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-orders>
        <tr>
            <td style="width: 20%;">{{ orders.id }}</td>
            <td style="width: 20%;">{{ orders.customer_ID }}</td>
            <td style="width: 20%;">{{ orders.status }}</td>
            <td style="width: 20%;">{{ orders.date }}</td>
            <!-- New column for buttons -->
            <td style="width: 20%;">
                <!-- Update button -->
                <p-button icon="pi pi-bookmark" label="Details" severity="warning " (click)="onInfoButtonClick(orders)"></p-button>

                <!-- Delete button -->

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{ orders ? orders.length : 0 }} orderss.
        </div>
    </ng-template>
</p-table>