.card {
    /* Add any additional styling for the card container */
}

.toolbar-container {
    width: 300px;
    /* Set your desired fixed width */
}

.p-toolbar-group-left {
    justify-content: center !important;
    width: 100%;
    /* Make sure the group takes 100% width of its container */
}

.p-field {
    margin-right: 30px;
}